Repository AutoMQ/automq, pull requests merged in 2025-03, with the labels that each got.

#2340 perf(s3stream): limit write traffic to object storage
  build.gradle
  s3stream/src/main/java/com/automq/stream/s3/DeltaWALUploadTask.java
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
  s3stream/src/main/java/com/automq/stream/s3/operator/AbstractObjectStorage.java
  s3stream/src/main/java/com/automq/stream/s3/operator/AwsObjectStorage.java
  s3stream/src/main/java/com/automq/stream/s3/operator/ObjectStorage.java
  s3stream/src/main/java/com/automq/stream/s3/operator/TrafficMonitor.java
  s3stream/src/main/java/com/automq/stream/s3/operator/TrafficRateLimiter.java
  s3stream/src/main/java/com/automq/stream/s3/operator/TrafficRegulator.java
  s3stream/src/main/java/com/automq/stream/s3/operator/TrafficVolumeLimiter.java
Labels: enhancement, s3stream

#2342 fix(s3storage): release Bytebuf allocated by WAL earlier to prevent memory fragmentation
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
Labels: bug, s3stream

#2341 fix(s3storage): release Bytebuf allocated by WAL earlier to prevent memory fragmentation
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
Labels: bug, s3stream

#2375 fix(network): prevent NullPointerException during broker shutdown on bootstrap failure
  core/src/main/scala/kafka/network/SocketServer.scala
Labels: bug
